* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #06398b;
}
.login-box {
    width: 300px;
    height: 400px;
    background-color: rgb(209, 44, 44);
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    margin-top: -200px;
    margin-left: -150px;
    padding: 40px;
    /* box-shadow: 0 15px 25px rgba(0,0,0,.6); */
    border-radius: 10px;
    color-scheme:initial
}
